
@media (max-width: 1200px) { 

}
@media (max-width: 1024px) { 
    /*.container, #banner-top{*/
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    #list-sale .image-register img{
        height: 120px;
    }
    #list-sale {
        padding-top: 40px;
    }
    #list-sale .image-register {
        margin-bottom: 15px;
    }
    #banner-or .container{
        padding: 0;
    }
    #banner-or .banner-content {
        margin-left: -90px;
        margin-right: 0;
    }
    .item-detail-one .box-image .img-avatar {
        width: 150px;
        height: 150px;
        min-width: 150px;
    }
    
}
@media (max-width: 768px) { 
    #detail .content-main .title-name .name {
        font-size: 22px;
    }
    #detail .content-main .description {
        margin-bottom: 15px;
        font-size: 16px;
    }
    #detail .content-main .content-detail {
        font-size: 16px;}
        #detail .item-detail-one .content-main {
            /* padding-top: 45px; */
            padding-bottom: 45px;
        }
    #detail .item-detail-one .box-image .dot {
        top: 4px;
        left: 3px;
        width: 35px;
    }
    #detail .item-detail-one .dot-big{
        width: 35px;
    }
    #detail .content-main .title-name .avatar {
        width: 102px;
        min-width: 102px;
        height: 102px;
    }
    #detail .item-detail-two .content-main .title-name .avatar {
        width: 125px;
        min-width: 125px;
        height: 125px;
    }
    #detail .content-main .title-name {
        margin-bottom: 0;
    }
    #detail .item-detail-two .content-main .title-name .avatar-four {
        width: 105px;
        min-width: 105px;
        height: 105px;
    }
}
@media (max-width: 576px) { 
    #banner-or{
        margin-bottom: 50px;
    }
    #detail .content-main {
        position: relative;
        padding-top: 0;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 50px;
    }
    #detail .bg, #detail .item-detail-one .content-main .bg-top-one{
        display: none;
    }
    #detail .bg.bg-mobile, #detail .item-detail-one .content-main .bg-top-one.bg-mobile{
        display: block;
    }
    
    #detail .content-main .title-name .name {
        font-size: 16px;
    }
    #detail .content-main .description {
        font-size: 14px;
        margin-bottom: 10px;
    }
    #detail .content-main .content-detail {
        font-size: 14px;
    }
    #detail .content-main .description img{
        display: none;
    }
    /* #detail .item-detail-one .content-main .title-name .name {
        width: 100%;
    } */
    #detail .item-detail-two .content-main .content-detail {
        padding-left: 25px;
        padding-top: 10px;
    }
    #banner-top .box-image img.bg-desktop{
        display: none;
    }
    #banner-top .box-image img.bg-mobile{
        display: block;
    }
    #list-sale .image-register img {
        height: 86px;
        /* width: 100%; */
        /* height: auto; */
    }
    #list-sale .box-content-top .item .content .color-blue {
        font-size: 13px;
    }
    #list-sale .box-content-top .item .content .color-main span {
        font-size: 13px;
    }
    #list-sale .box-content-top .item .content .color-main {
        font-size: 17px;
    }
    #list-sale .box-content-top{
        padding: 15px;
    }
    #list-sale .box-content-top .item {
        padding: 0 0 15px;
    }
    #list-sale .box-content-top .item .box-image {
        min-height: 120px;
        padding: 0 10px;
    }
    #list-sale .box-content-top .item .box-image img{
        width: 65%;
    }
    #form .banner-form img:not(.bg-mobile){
        display: none;
    }
    #form .banner-form img.bg-mobile{
        display: block;
        margin-left: 0;
    }
    #form {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #banner-or .banner-content .img-head-banner{display: none;}
    #banner-or .banner-content .img-head-banner-mobile{
        display: block;
    }
    #banner-or .banner-content {
        margin-left: 0;
        margin-right: 0;
    }

    #detail .content-main .title-name {
        margin-bottom: 0;
        margin-right: 10px;
    }
    #detail .bg.bg-mobile{
        bottom: -25px;
    }
}
@media (min-width: 480px) and (max-width: 576px) {
    #detail .bg.bg-mobile{
        width: 100%;
    }
    #detail .item-detail-one .content-main .bg-top-one {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: auto;
    }
    .item-detail-top {
        padding-bottom: 80px
    }
    #detail .item-detail-one .content-main{
        padding-left: 15px;
    }
    #detail .bg.bg-mobile {
        bottom: 18px;
    }
    #detail .item-detail-two .dot-small.item-3-mobile {
        top: 0px;
        width: 35px;
    }
    #detail .item-detail-two.item-5 .dot-small.item-5-mobile {
        bottom: auto;
        top: 0;
        left: 0;
        width: 35px;
    }
} 
@media (max-width: 480px) { 
    /*  */
    #detail .item-detail-one .content-main .bg-top-one.bg-mobile{
        height: auto;
    left: auto;
    top: 30px;
    max-width: max-content;
    right: 0;
    }
    .item-detail-one .box-image {
        margin-right: 15px;
    }
    #detail .item-detail-one .content-main{
        /* padding-bottom: 0; */
    }
    #detail .item-detail-one .content-main .title-name .name {
        width: 60%;
    }
    .item-detail-one {
        margin-bottom: 15px;
    }
    /*  */
    #detail .item-detail-two .content-main {
        padding-bottom: 15px;
    }
    #detail .item-detail-two .dot-small {
        bottom: 5px;
    }
    #detail .item-detail-two .dot-small.item-3-mobile {
        top: 0;
        width: 35px;
    }
    #detail .item-detail-one.item-4 .content-main{
        margin-left: -11px;
    }
    #detail .item-detail-one.item-4 .dot-big {
        position: absolute;
        bottom: 30%;
        right: auto;
        left: -41px;
    }
    #detail .item-detail-two {
        margin-bottom: 50px;
    }
    #detail .item-detail-two.item-5 .content-main .title-name{
        margin: 0;
        padding-left: 30px;
    }
    #detail .item-detail-two.item-5 .content-main .description{
        padding-left: 30px;
    }
    #detail .item-detail-two.item-5 .dot-small.item-5-mobile{
        top: 45px;
        width: 35px;
    }
    #detail .container>div{
        display: none;
    }
    #detail{
        background-color: #fff;
    }
    #detail #bg-mobile-main img{
        width: 100%;
        margin-bottom: 20px;
    }
    #list-sale .box-content-top .item .box-image {
        min-height: 100px;
    }
    #bg-mobile-main{
        display: block;
    }
}
@media (max-width: 420px) { 
    #list-sale .box-content-top .item .box-image {
        min-height: 75px;
    }
}
  