
:root {
    --color-main: #ff6c00;
    --color-blue: #07144b;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #FFF;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}


body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 990px;
}

.font-bold{
    font-weight: 700;
}
.color-blue{
    color: var(--color-blue)!important;
}
.color-main{
    color: var(--color-main)!important;
}
.d-contents{
    display: contents!important;
}
main{
    padding-bottom: 40px;
}

#banner-top{
    position: relative;
}
#banner-top .box-image{
    display: block;
    width: 100%;
}
#banner-top .box-image img{
    width: 100%;
}
#banner-top .box-image img.bg-mobile{
    display: none;
}
#banner-or{
    overflow: hidden;
}

#list-sale{
    padding-top: 50px;
}
#list-sale .image-register{
    margin-bottom: 40px;
}
#list-sale .box-content-top{
    border-radius: 31px;
    background-color: rgb(235, 235, 235);
    padding:  0 35px;
}
#list-sale .box-content-top .item{
    padding: 25px 0;
}
#list-sale .box-content-top .item .box-image{
    min-height: 188px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
}
#list-sale .box-content-top .item .content .color-blue{
    font-size: 18px;
}
#list-sale .box-content-top .item .content .color-main{
    font-size: 34px;
}
#list-sale .box-content-top .item .content p{
    line-height: 1.3;
}
#list-sale .box-content-top .item .content p span{
    display: block;
    line-height: 1;
}

#list-sale .box-content-top .item .content .color-main span{
    font-size: 18px;
}

#form{
    padding-top: 70px;
    padding-bottom: 85px;
}
#form .banner-form img{
    margin-left: -60px;
    width: auto;

}
#form .banner-form img.bg-mobile{display: none;}

#banner-or .banner-content{
    margin-left: -135px;
    margin-right: -100px;
}
#banner-or .banner-content .img-head-banner-mobile{display: none;}

#detail{
    margin-top: 20px;
}

.item-detail-top{
    position: relative;
}
#detail .bg{
    position: absolute;
    bottom: 0;
}
#detail .content-main{
    position: relative;
    padding-top: 35px;
    padding-bottom: 120px;
    padding-right: 50px;
    padding-left: 100px;
}
#detail .content-main .title-name{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}
#detail .content-main .title-name .name{
    font-size: 36px;
    width: 32%;
    color: #304ffe;
    line-height: 1.2;
    margin-bottom: 10px;
}
#detail .content-main .title-name .avatar{
    width: 222px;
    min-width: 222px;
    height: 222px;
    border-radius: 100%;
    overflow: hidden;
}
#detail .content-main .title-name .avatar img{
    width: 100%;
    height: 100%;
}
#detail .content-main .description{
    line-height: 1.35;
    margin-bottom: 25px;
    font-size: 24px;
}
#detail .content-main .content-detail{
    font-size: 24px;
    color: rgb(12, 47, 78);
    line-height: 1.2;
}
.item-detail-one{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.item-detail-one .box-image{
    position: relative;
    margin-right: 30px;
}
.item-detail-one .box-image .img-avatar{
    width: 343px;
    height: 343px;
    min-width: 343px;
    border-radius: 100%;
}
#detail .item-detail-one .box-image .dot{
    position: absolute;
    top: 15px;
    left: 17px;
}
#detail .item-detail-one .content-main{
    padding-top: 45px;
    padding-bottom: 65px;
    padding-left: 0;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    z-index: 1;
}
#detail .item-detail-one .content-main .bg-top-one{
    position: absolute;
    top: 0;
    left: -75px;
    z-index: -1;
    height: 100%;
}
#detail .item-detail-one .content-main .title-name .name{
    width: 48%;
    color: rgb(255, 193, 7);
}
#detail .item-detail-one .dot-big{
    position: absolute;
    bottom: 10px;
    right: 35px;
}


#detail .item-detail-two{
    margin-bottom: 70px;
}
#detail .item-detail-two .content-main{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 0;
    padding-bottom: 35px;
}
#detail .item-detail-two .content-main .title-name .name{
    width: auto;
    color: rgb(255, 193, 7);
    margin-right: 35px;
}
#detail .item-detail-two .content-main .title-name .avatar {
    width: 288px;
    min-width: 288px;
    height: 288px;
    border-radius: 16px;
}
#detail .item-detail-two .content-main .description{
    margin: 0;
}
#detail .item-detail-two .content-main .content-detail{
    padding-left: 50px;
}
#detail .item-detail-two .dot-small{
    position: absolute;
    bottom: 25px;
    right: 35px;
}
#detail .item-detail-two .content-main .title-name .avatar-four{
    width: 252px;
    min-width: 252px;
    height: 252px;
}
  
#detail .bg.bg-mobile, #detail .item-detail-one .content-main .bg-top-one.bg-mobile{
    display: none;
}
#detail .item-detail-two .dot-small.item-3-mobile{
    bottom: auto;
    left: 0;
    right: auto;
    top: 120px;
}
#detail .item-detail-two.item-5 .dot-small.item-5-mobile{
    bottom: auto;
    top: 110px;
    left: 0;
}

#bg-mobile-main{
    display: none;
}

.content-register {
    min-height: 564px;
    padding: 10px 50px 30px;
    color: #fff;
    background: #f7941d;
    margin: 0 auto 50px;
}
.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    /*font-style: italic;*/
}

input#input_28_1 {
    /* width: 100%; */
}

.ginput_container input {
    width: 100% !important;
    min-height: 48px;
}

.ginput_container select {
    width: 100% !important;
    min-height: 48px;
}

label.gfield_label {
    /*font-size: 15px !important;*/
    display: none !important;
}
input::placeholder {
    font-size: 14px;
    /*font-style:italic;*/
}
select::placeholder {
    font-size: 14px;
    /*font-style:italic;*/
}
select {
    font-size: 14px !important;
}
input {
    font-size: 14px !important;
}

